.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.homeContent .listMoviesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 2rem;
  background-color: var(--fourth-color-alpha);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: solid 1px var(--primary-alpha);
  border-radius: 0.5rem;
}

.homeContent .listMoviesCard .title {
  font-family: "Poppins";
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.homeContent .listMoviesCard .movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem 2.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 0.8rem;
}

.homeContent .listMoviesCard .movies img {
  width: 80%;
  padding-top: 1rem;
  cursor: pointer;
}

.homeContent .listMoviesCard .movies img:hover {
  scale: 0.9;
  transition: 0.3s;
}

.homeContent .listMoviesCard .movies h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.homeContent .listMoviesCard .movies li {
  list-style: none;
  color: var(--secondary-color);
  margin-bottom: 0.1rem;
}

.homeContent .listMoviesCard .movies .btnDel {
  font-family: "Poppins";
  font-size: 0.7rem;
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  height: 1.6rem;
  width: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

.homeContent .listMoviesCard .movies .btnEdit {
  font-family: "Poppins";
  font-size: 0.7rem;
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  height: 1.6rem;
  width: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
}

.homeContent .listMoviesCard .movies .btnDel:hover {
  background-color: #f22323;
}

.homeContent .listMoviesCard .movies .btnEdit:hover {
  background-color: var(--primary-color);
}

/* Fim conteúdo Home */

/* RESPONSIVIDADE */
@media (max-width: 1200px) {
  /* Início do conteúdo Home */
  .homeContent .listMoviesCard {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    border-radius: none;
  }

  .homeContent .listMoviesCard .title {
    margin-top: 6rem;
  }

  .homeContent .listMoviesCard .movies {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .homeContent .listMoviesCard .movies img {
    border: none;
    filter: none;
  }

  .homeContent .listMoviesCard .movies img:hover {
    box-shadow: none;
  }

  .homeContent .listMoviesCard .movies .btnDel {
    background-color: #f22323;
  }

  .homeContent .listMoviesCard .movies .btnEdit {
    background-color: var(--primary-color);
  }

  .editContent {
    width: 60%;
    /* Fim do conteúdo Home */
  }
}

@media (max-width: 768px) {
  /* Início do conteúdo Home */
  .homeContent .listMoviesCard {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    border-radius: none;
  }

  .homeContent .listMoviesCard .title {
    margin-top: 4rem;
  }

  .homeContent .listMoviesCard .movies {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .homeContent .listMoviesCard .movies img {
    border: none;
    width: 85%;
    filter: none;
    margin-left: -5%;
  }

  .homeContent .listMoviesCard .movies img:hover {
    box-shadow: none;
  }


  .homeContent .listMoviesCard .movies .listMovies {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  .homeContent .listMoviesCard .movies .listMovies .movieImg {
    text-align: center;
    width: 40%;
  }

  .editContent {
    width: 90%;
  }
  /* Fim do conteúdo Home */
}

/* FIM RESPONSIVIDADE */
