.containerCover{
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    min-height: 100vh;
}

@media (max-width: 1200px){
    .containerCover {
    background-attachment: scroll;
    }
}

@media (max-width: 768px) {
    .containerCover {
        background-attachment: scroll;
    }
}